body{
    display: flex;
    justify-content: center;

}
.cal-frame{
   border-style: solid;
   border-color: black;  
   display: flex;  
   flex-flow: column wrap;
   
}
.numbers{
    width: 100px
}
.operations{
    width: min-content;
}
.final{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.screen{
    text-align: right;
    border-style: double;
}
.funct{
    display: flex;
}

