body{
    display: flex;
    justify-content: center;

}
.cal-frame{
   border-style: solid;
   border-color: black;  
   display: flex;  
   flex-flow: column wrap;
   padding: 20px;
   
}
.all-numbers{
    width: 400px;
    
}
button{
    width: 100px;
    height: 100px;
}
.operations{
    display: flex;
    flex-direction: column;
    width: min-content;
    gap: 10px;
}
.final{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.screen,
.non-zero{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size:100px;
    border-style: double;
    height: 100px;;

}
.funct{
    display: flex;
    font-size: larger;
    font-weight: bolder;
    margin-top: 20px;
}
.numbers{
    margin: 5px;
}
.clear{
    background-color: rgb(204, 86, 86);

}
.backspace{
    background-color: beige;
}
.equal{
    background-color: antiquewhite;
}
